<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
    <header>
  <% include ./partials/_header %>
  </header>
    <main class="container">
        <a href="/urls/new">Create a new Tinyurl</a>
        <h2>My Urls</h2>
            <ul>
            <%
             if(urls){ %>
                <%  for(link in urls){ %>
                <li style="margin-top:20px;" class="d-flex"><a style:="margin-right:10px;" href="/urls/<%= link %>"  target="_black"> <%= link %></a> <%= urls[link] %> 
                <form method="POST"  action="/urls/<%= link %>/delete"><input style="margin-left:20px" value="delete" type="submit" class="btn btn-danger" /></form>
                <form method="GET"  action="/urls/<%= link %>"><input style="margin-left:10px;" value="update" type="submit" class="btn btn-primary" /></form>
                </li>
                <% }} %>
            </ul>
    </main>
</body>
</html>