<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
  <header>
     <% include ./partials/_header %>
  </header>
    <main class="container">
        <a href="/urls/new">Create a new Tinyurl</a>
        <%
        if(shortURL && longURL){
          %>
        <h2>My Urls for : <b> <%= longURL %> </b></h2>
                <p> <a href="/u/<%= shortURL %>" target="_blank"> <%= shortURL %></a>
                <a href="/u/<%= shortURL %>" target="_blank">http://localhost:8080/u/<%= shortURL %></a>
                </p><br/>
                <form action="/urls/<%= shortURL %>/update" method="post"><input name="update" style="width: 100%;" value="<%= longURL %>">  <input type="submit" style="margin-top:20px;" value="update" class="btn btn-primary"/></form>
            <% } %>
    </main>
</body>
</html>